<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Page</title>
    </head>
    <body>
      <h1>New Part Request Page</h1>
      <form action="/parts" method="POST">
          Name: <input type="text" name="name" /><br/>
          Description: <input type="text" name="description" /><br/>
          Image: <input type="text" name="image" /><br/>
          Price: <input type="number" name="price" /><br/>
          Quantity: <input type="number" name="quantity" /><br/>
          <input type="submit" name="" value="Request Item"/>
      </form>
    </body>
</html>
