body {
  background-color: blue;
  height: 100vh;
  width: 100vw;
}
h1 {
  background-color: red;
  color: red;
}
h3 {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}
dt {
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
}
.pokémon_info {
  background-color: yellow;
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 40px auto 0 auto;
  border-style: solid;
  border-color: red;
}
form {
  text-align: center;
}
.banner {
  text-align: center;
  width: 100%;
  height: 200px;
}
img {
  height: 300px;
}
button {
  margin-left: 50%;
  margin-top: 50px;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}
#modal-box {
	background-color: white;
	height: 300px;
	width: 350px;
	border-radius: 2px;
	margin: 150px auto;
  padding: 5%;
  line-height: 120%;
  font-family: serif;
}
.modal-buttons {
  padding: 10px 10px;
	background-color: #FFFF00;
	border-radius: 10px;
	color: blue;
	font-family: serif;
  font-weight: bold;
	cursor: grab;
}
#modal-footer {
  text-align: right;
}
#openModal {
  padding: 20px 20px;
  font-size: 15px;
}
#close {
  text-decoration: none;
}
dd {
  margin-left: 0;
  height: 20px;
  padding: 5px 0;
  font-size: 20px;
}
